.imageContainer {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
}
/* commented for future use */
/* img:hover {
  filter: grayscale(0.2) brightness(0.9);
} */

@media (min-width: 320px) and (max-width: 767px) {
  img {
    width: 95vw;
  }
}