.imageContainer {
  list-style: none;
}
img {
  list-style: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  /* height: 90%; */
}
/* img:hover {
  filter: grayscale(0.2) brightness(0.9);
} */

@media (min-width: 320px) and (max-width: 767px) {
  img {
    width: 90vw;
  }
}